# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml

.vscode

build

*.old
*.o
*.s

.DS_Store

*.orig

*.swp

docs/def/**
docs/html/**
docs/man/man3/_**_.3

CMakeLists.txt
Makefile
*.mk
